* {
    font-display: swap;
    --pink: rgb(180, 95, 109);
    --white: white;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--pink);
    color: var(--white);
    font-family: 'Lora';
    line-height: 1.6;
}

body > .body-content {
    max-width: calc(65ch - 2rem);
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.header {
    margin-top: 0;
    height: 1.5rem;
    padding: 0.25rem;
    background-color: var(--white);
    color: var(--pink);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: calc(65ch - 2rem);
}

.header > :last-child.right {
    margin-left: auto;
}

.header.header a {
    color: inherit;
}

.header > span:not(:first-child):not(:last-child.right) {
    margin-left: 0.4rem;
}

details {
    background: var(--pink);
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
}

.details-body {
    border: 2px solid var(--white);
    padding: 0.5rem;
}

summary {
    background: var(--white);
    color: var(--pink);
    padding: 0.75rem;
    cursor: pointer;
    user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.submit-group {
    margin-top: 1rem;
    justify-content: flex-end;
}

.button, input:not([type=checkbox]):not([type=file]) {
    background: var(--white);
    color: var(--pink);
    padding: 0.4rem;
    margin: 0.2rem;
    border: none;
    font-family: inherit;
}

textarea {
    min-height: 4rem;
    min-width: 40ch;
    font-size: 1rem;
    resize: vertical;
}

.button, button, input[type=submit] {
    cursor: pointer;
    font-size: 0.8rem;
}

a, a:link, a:visited {
    color: var(--white);
}

a.button.button {
    color: var(--pink);
    font-size: 0.8rem;
    text-decoration: none;
}

img {
    height: 50vh;
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.nodecorate {
    text-decoration: none;
}

pre {
    overflow-x: auto;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.2);
}

@media not all and (hover: none) {
    .button:hover, button:hover, input[type=submit]:hover {
        font-weight: bold;
    }    
}

.sr-only {
    display: none !important;
}

@media screen and (max-aspect-ratio: 1/1) {
    .form-group {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    textarea {
        min-width: 30ch;
    }

    .body-content > * {
        margin-left: 0.3rem;
    }

    .header {
        padding: 0;
    }
}