<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GU OSW - Admin</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/admin.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>

<body>
    <div class='header'>
        <span>Welcome, {{ user.name }}</span>
        <span class='right'><a href='/'>Back to main site</a></span>
    </div>

    <div class='body-content'>
        <h1>Admin</h1>
        <details {% if wishCreated %} open {% endif %}>
            <summary>
                Add a new wish
            </summary>

            <div class='details-body'>
                {% if wishCreated %}
                <p>Wish created successfully.</p>
                {% endif %}
                <form method=POST action='/admin/new-wish'>
                    <div class='form-group'>
                        <label for=new-wish-title>Title</label>
                        <input id=new-wish-title type=text required name=new-wish-title>
                    </div>
                    <div class='form-group'>
                        <label for=new-wish-price>Price (rupees)</label>
                        <input id=new-wish-price type=number required name=new-wish-price min=0 step=1 validate='\d+'>
                    </div>
                    <div class='form-group'>
                        <label for=new-wish-desc>Description</label>
                        <textarea id=new-wish-desc name=new-wish-desc></textarea>
                    </div>
                    <div class='form-group submit-group'>
                        <input type=submit value=Create>
                    </div>
                </form>
            </div>
        </details>
    </div>
</body>

</html>